<!-- require header partial -->
<%- include('../partials/header') %>

<div class="homepage">
    <h2>All Facespace members</h2>

    <ul class="homepage__all">
        <% users.forEach( (user) => { %>
            <li class="homepage__all--user">
                <a href="/users/<%= user._id %>" target="_self">
                    <img src="<%= user.avatarUrl %>" alt="<%= user.name %>" />
                </a>
            </li>
        <% }) %>
    </ul>
</div>

<!-- require footer partial -->
<%- include('../partials/footer') %>